In [1]:
sents = 'the red dog cat eats dog dog eats food red cat eats'

In [2]:
set(sents.split())

{'cat', 'dog', 'eats', 'food', 'red', 'the'}

In [3]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [4]:
sentence_1 = 'It was a good practice for us'
sentence_2 = 'It was also good to know about it'
sentence_3 = 'for all of us they have done a good practice'

#find the list of all distinct word present in these three sentences

In [5]:
# Define the three sentences
sentence_1 = 'It was a good practice for us'
sentence_2 = 'It was also good to know about it'
sentence_3 = 'for all of us they have done a good practice'

# Combine the sentences into one string
combined_sentences = sentence_1 + ' ' + sentence_2 + ' ' + sentence_3

# Split the combined string into words
words = combined_sentences.split()

# Create a set to store distinct words
distinct_words = set(words)

# Convert the set back to a list for easier handling
distinct_word_list = list(distinct_words)

# Print the list of distinct words
print(distinct_word_list)

['they', 'a', 'practice', 'also', 'to', 'know', 'for', 'about', 'all', 'It', 'us', 'it', 'of', 'have', 'done', 'was', 'good']

In [6]:
words = sentence_1.split()+ sentence_2.split()+ sentence_3.split()
set(words)

{'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [7]:
sentence_1 = 'It was a good practice for us.'
sentence_2 = 'It was also good to know about it.'
sentence_3 = 'for all of us they have done a good practice.'

In [8]:
word = word_tokenize(sentence_1)+word_tokenize(sentence_2)+word_tokenize(sentence_3)
set(words)

{'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [9]:
tokens = set(words)

In [10]:
tokens

{'It',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [11]:
import nltk

sentence_1 = 'It was a good practice for us.'
sentence_2 = 'It was also good to know about it.'
sentence_3 = 'For all of us they have done a good practice.'

# Tokenize and convert to lowercase
words = []
for sentence in [sentence_1, sentence_2, sentence_3]:
    tokenized_words = nltk.word_tokenize(sentence)
    lowercase_words = [word.lower() for word in tokenized_words]
    words.extend(lowercase_words)

# Create a set of distinct words
distinct_words = set(words)

# Print the list of distinct words
print(list(distinct_words))

['they', 'a', 'practice', 'also', 'to', 'know', 'for', 'about', 'all', 'us', 'it', 'of', 'have', 'done', '.', 'was', 'good']

In [12]:
df = pd.DataFrame(columns= list(tokens), index=[1,2,3])
df

,they,a,practice,also,to,know,for,about,all,It,us,it,of,have,done,was,good
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())
tokens3 = word_tokenize(sentence_3.lower())

In [14]:
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [15]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [16]:
counts1, counts2, counts3

([0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1],
 [0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1],
 [1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1])

In [17]:
df

,they,a,practice,also,to,know,for,about,all,It,us,it,of,have,done,was,good
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2
df.iloc[2,:] = counts3

In [19]:
df

  they  a practice also to know for about all It us it of have done was good
1    0  1        1    0  0    0   1     0   0  0  1  1  0    0    0   1    1
2    0  0        0    1  1    1   0     1   0  0  0  2  0    0    0   1    1
3    1  1        1    0  0    0   1     0   1  0  1  0  1    1    1   0    1

In [20]:
#Import the count vectorizer class

from sklearn.feature_extraction.text import CountVectorizer

In [21]:
#Create the object

cv= CountVectorizer()

In [22]:
#Apply the BOW method

mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [23]:
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [24]:
cv.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [25]:
df=pd.DataFrame(data=mydata.toarray(),
                columns=cv.get_feature_names_out())

In [26]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

<b>N-grams<b>

In [27]:
#Create the object

cv= CountVectorizer(ngram_range=(1,2))

In [28]:
#Apply the BOW- ngram method

mydata= cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [29]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [30]:
df = pd.DataFrame(data=mydata.toarray(),
                  columns=cv.get_feature_names_out())

In [31]:
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

<b>TF*IDF Vectorizer<b>

In [32]:
#Import the class

from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
#Create the object

tfidf = TfidfVectorizer()

In [35]:
#Apply the algorithm

new_data = tfidf.fit_transform([sentence_1, sentence_2, sentence_3])

In [38]:
new_data.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [42]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [46]:
df = pd.DataFrame(data=new_data.toarray(),
                  columns=tfidf.get_feature_names_out())

In [47]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000